@page "/"

<h3>关于本站</h3>
<h6>本站为腾讯2020年8月份云开发赛事参赛作品统计网站。</h6>
<hr />
<p>
    <a href="https://cloud.tencent.com/act/event/cloudbase-acc" target="_blank">小程序云开发挑战赛</a>
    <a href="https://github.com/dotnetcloudbase/findjob" target="_blank">参赛作品 FindJob</a>
</p>
