@inject WxCloudApi WxCloud
<AntDesign.Charts.Column @ref="chartInstance" TItem="StatApply" Config="chartConfig" />

@if (statApplyData == null)
{
    <p>图表正在加载中...</p>
}

@code {
    ColumnConfig chartConfig = new ColumnConfig
    {
        Height = 650,
        Title = new Title
        {
            Visible = true,
            Text = "FindJob 申请职位按钮点击统计"
        },
        Description = new Description
        {
            Visible = true,
            Text = "本图表统计30天内 FindJob 申请职位按钮点击情况",
        },
        ForceFit = true,
        Padding = "auto",
        XField = "_id",
        YField = "pv",
        Meta = new
        {
            _id = new
            {
                Alias = "日期"
            },
            pv = new
            {
                Alias = "点击量"
            }
        },
        Label = new ColumnViewConfigLabel
        {
            Visible = true,
            Position = "middle", 
            Style = new TextStyle
            {
                FontSize = 12,
                FontWeight = 600,
                Opacity = 60,
            }
        },
        Interactions = new Interaction[]
        {
            new Interaction
            {
                Type = "slider",
                Cfg = new
                {
                    start = 0,
                    end = 1,
                }
            }
        }
    };

    IChartComponent chartInstance = null;
    List<StatApply> statApplyData = null;

    protected override async Task OnInitializedAsync()
    {
        var tempPv = (await WxCloud.GetStatApply()).ToDictionary<StatApply, DateTime, int>(p => DateTime.Parse(p.Date), p => p.Value);
        var minDate = tempPv.Min(p => p.Key);
        var maxDate = tempPv.Max(p => p.Key);
        statApplyData = new List<StatApply>();
        while (minDate.Date <= maxDate.Date)
        {
            if (tempPv.ContainsKey(minDate))
            {
                statApplyData.Add(new StatApply()
                {
                    Date = minDate.ToString("yyyy-MM-dd"),
                    Value = tempPv[minDate]
                });
            }
            else
            {
                statApplyData.Add(new StatApply()
                {
                    Date = minDate.ToString("yyyy-MM-dd"),
                    Value = 0
                });
            }
            minDate = minDate.AddDays(1);
        }
        await chartInstance.ChangeData(statApplyData);
    }
}